# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/

# production
/build/

# local environment files
.env*
!.env.example

# logs and operating system files
*.log
.DS_Store

# typescript
*.tsbuildinfo
